python-dotenv
streamlit==1.36.0
python-docx
pyPDF2
google-generativeai
moviepy
transformers
soundfile
torch
torchaudio
langchain
chromadb
langchain_community
langchain_google_genai
langchain_huggingface

# -e .